# Exclude VSCode settings
.vscode/settings.json

# Exclude VSCode workspace settings
.vscode/*.code-workspace

# Exclude user-specific VSCode tasks
.vscode/tasks.json

# Exclude user-specific VSCode launch configurations
.vscode/launch.json

# Exclude user-specific VSCode extensions
.vscode/extensions.json

# Exclude VSCode Python specific settings
.vscode/.python-version

# Exclude VSCode Jupyter Notebook specific settings
.vscode/jupyter.settings.json

# Exclude .vscode folder if it contains personal configuration
.vscode/*.json
